
body{
    background-color: #e7e9ee;
}
.titulo{
    color: blue;
}
.Description{
background-color: #889ffa;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    font-size: medium;
}
img{
    height: auto;
    width: 400px;
}
button{
    color: black;
    font-size: large;
    font-weight: 700;
    background-color: #889ffa;
}