
body{
    background-color: #fdb470;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    font-size: medium;
}
img{
    height: auto;
    width: 400px;
}
.Description{
    color: blue;
    background-color: #db6a00;
}
button{
    color: black;
    background-color: #db6a00;
    font-size: large;
    font-weight: 700;
}